.Register__container {
  display: flex;
  background: linear-gradient(to left, #8edbe8bf, #fef3ff, #ed8bf0);
  min-height: 100vh;
  padding: 0 40px;
}

.Register__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.Register__image-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 40%;
  box-shadow: 0px 0px 60px #76707089;
}

.Register__form {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid #4c56af;
  background: linear-gradient(to right, #cbcff5, #f2fcfe);
  border-radius: 30px;
  height: 75%;
  margin: auto;
  margin-right: 70px;
  box-shadow: 0px 0px 10px #43494391;
}


@media only screen and (max-width: 1023px) {
  .Register__container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  .Register__image-logo {
    max-width: 80%;
    max-height: 80%;
  }

  .Register__form {
    width: 70%;
    margin: 50px;
    padding: 40px;
    height: auto;
  }
}
