@media screen and (max-width: 1023px) {
    .login-container {
        flex-direction: column;
    }

    .login__content {
        min-width: 95vw;
    }

    .login__content-container {
        margin: 0 auto 40px auto !important;
    }

    .login__content__button-container {
        flex-direction: column;
    }

    .login__content__button-child-container {
        width: 100%;
        min-width: 50vw;
        margin: 10px auto;
    }
}

@media screen and (max-width: 767px) {
    .reset-password {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0 !important;
    }

    .reset-password .ant-otp {
        justify-self: center;
        max-width: 90%;
    }

    .reset-password .ant-otp-input {
        height: 35px;
        font-size: 0.9rem;
    }
}

.login__content-form__item.reset-password {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.reset-password .ant-otp {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.reset-password .ant-otp-input {
    width: calc((100% - 40px) / 6) !important;
    min-width: 30px;
    max-width: 45px;
    height: 40px;
    padding: 4px;
    text-align: center;
}

.login-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(to left, #8edbe8bf, #fef3ff, #ed8bf0);
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__logo img {
    width: 100%;
}

.login__content-container {
    width: 90%;
    height: 100%;
    margin: 0;
    gap: 0;
    border-radius: 20px;
    background: transparent;
    background-image: linear-gradient(to right, #cbcff5, #f2fcfe);
}

.login__content-title {
    margin: 20px 0 0 20px;
}

.login__content-back {
    display: flex;
    margin: 0 auto 12px auto;
}

.login__content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
}

.login__content-form__item {
    width: 80%;
}

.login__content__other {
    width: 100%;
    margin: 0 auto;
    gap: 0px;
}

.login__content__button-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__content__button {
    padding: 20px;
    font-size: 1rem;
}