/* styles.css */
.large-font {
  font-size: clamp(14px, 1vw, 20px);
}

.large-font input,
.large-font .ant-input-password,
.large-font .ant-btn {
  font-size: clamp(14px, 1vw, 20px);
}

.large-font input,
.large-font .ant-input-password {
  height: 5vh;
  display: flex;
  align-items: center;
}

.large-button {
  padding: 13px 0;
  font-size: 1vw;
  height: auto;
  background-color: rgb(100, 22, 218);
}
.large-button-white {
  padding: 13px 0;
  font-size: clamp(14px, 1vw, 20px);
  height: auto;
}

.ant-input {
  min-width: 15vw;
}

.ant-form-item-explain-error {
  white-space: normal;
  max-width: 19vw;
}
